
@import url('https://fonts.googleapis.com/css?family=Merriweather');

/* Base Element Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.main {
    text-align: center;
    background-color: #0c2247;
    color: white;
    padding: 20px;
    margin: 0 0;
    position: relative;
    text-transform: uppercase;
}

.second {
    text-align: center;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: black;
}

p {
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
}

textarea:focus {
    background: dimgray;
}

.main-nav {
    width: 100%;
    background: gray;
    min-height: 30px;
    padding: 3%;
    text-align: center;
    position: relative;
    display: block;
}

.nav {
    display: block;
    font-weight: 100;
    font-family: 'Source Code Pro', monospace, sans-serif;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .name {
    text-transform: uppercase;
    font-size: 32px;
}

.nav li {
    padding: 5px 10px 10px 10px;
    text-transform: uppercase;
    display: block;
}

.nav li a {
    background-color: #F0EFEF;
    display: block;
}

.nav a {
    text-decoration: none;
    background-color: gray;
    padding: 8px 130px;
}

.nav a:hover {
    color: white;
}

.portfolio-piece {
    margin: 30px;
    padding: 20px 40px 40px;
    text-align: left;
}



.message {
    margin-top: 2px;
    opacity: 0.5;
    text-align: center;
}

.one {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
}

.two {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
}

.main-footer li {
    list-style-type: none;

}

.container-bottom {
    background-color: gray;
    padding: 3% 3% 3% 3%;
}

.contact {
    text-transform: uppercase;
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}

input[type="text"],
input[type="email"],
input[type="telNo"],
input[type="text"],
input[type="text"],
input[type="state"],
input[type="zipcode"],
input[type="checkbox"],
input[type="radio"],
textarea,
select {
    border: none;
    font-size: 16px;
    height: 45px;
    outline: 0;
    width: 100%;
    background: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin: 8px 0px 30px;
}

.fieldset {
    border: none;
}

label[for="full"],
label[for="email"],
label[for="telNo"],
label[for="address"],
label[for="city"],
label[for="state"],
label[for="zipcode"] {
    margin-bottom: 15px;
    padding-bottom: 5px;
}

/*stuck figuring out how to space label text*/

#HTML_News, #CSS_News, #JavaScript_News {
    position: relative;
    top: 20px;
}



ul.move {
    padding-right: 37px;
}

.mobile-hide {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Media Queries */

@media screen and (min-width: 768px){



@media screen and (min-width: 1024px){








